[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = git@github.com:razonyang/hugo-theme-bootstrap.git
[submodule "contrast-hugo"]
	path = themes/contrast
	url = https://github.com/niklasbuschmann/contrast-hugo.git
